/* Import design tokens */
@import '../../tokens/tokens.css';

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  background-color: var(--color-component-3);
  overflow: hidden;
}

.avatar__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-std-text);
  text-align: center;
  font-style: normal;
  user-select: none;
}
